body {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #6c2dc7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: calc(100% - 12px);
    height: 60px;
    border-color: #6c2dc7;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-right: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar .navlogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 15px;
    transition: transform 0.3s ease;
}

.navbar .navlogo:hover {
    transform: scale(1.2);
}

.navbar .links {
    display: flex;
    list-style: none;
    align-items: center;
    border: none;
    margin: 0px 0px;
    gap: 5px;
}

.navbar .links a {
    color: #6c2dc7;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .links a:hover {
    color: #ffffff;
}

.navbar .links li {
    transition:
        color 0.3s ease,
        transform 0.3s ease,
        padding 0.3s ease;
    border: 1px solid #6c2dc7;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 5px;
}

.navbar .links li:hover {
    background-color: #000000;
    transform: scale(1.2);
    padding: 5px 10px;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}

.hero img {
    max-width: 500px;
    width: auto;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.hero img:hover {
    transform: scale(1.2);
}

.hero .name {
    font-size: 5rem;
    margin: 0;
    color: #6c2dc7;
    display: flex;
    align-self: center;
    font-weight: bold;
}

.hero .name .letter {
    transform-origin: bottom;
    margin: auto;
    margin-top: 0;
    transition: transform 0.1s ease;
    font-size: 5rem;
}

.hero .name .letter:hover {
    transform: scale(1.5);
}

.footer {
    border-top: 1px solid #6c2dc7 dotted;
    width: 100%;
    bottom: 0;
    align-items: last baseline;
    position: relative;
    border-top: 1px #6c2dc7 dashed;
    margin-top: 100px;
}

.footer .footer-content {
    margin-left: 50px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}
