:root[data-theme="light"] {
    --text: #13002e;
    --background: #ece9f2;
    --primary: #330080;
    --secondary: #081377;
    --accent: #7a0078;
    --white: #000000;
    --text-inverted: #e4d1ff;
    --background-inverted: #100d16;
    --primary-inverted: #b380ff;
    --secondary-inverted: #8893f7;
    --accent-inverted: #ff85fd;
    --white-inverted: #ffffff;
}
:root[data-theme="dark"] {
    --text: #e4d1ff;
    --background: #100d16;
    --primary: #b380ff;
    --secondary: #8893f7;
    --accent: #ff85fd;
    --white: #ffffff;
    --text-inverted: #13002e;
    --background-inverted: #ece9f2;
    --primary-inverted: #330080;
    --secondary-inverted: #081377;
    --accent-inverted: #7a0078;
    --white-inverted: #000000;
}

a {
    color: var(--accent);
}

body {
    font-family: "JetBrains Mono", "Monospace";
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.navbar {
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 12px);
    height: 60px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-right: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(var(--background), 0.5);
    z-index: 999;
}

.navbar .navlogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 15px;
    transition: transform 0.3s ease;
}

.navbar .navlogo:hover {
    transform: scale(1.2);
}

.navbar .links {
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    border: none;
    margin: 0px 0px;
    gap: 15px;
}

.navbar .links a {
    background-color: rgba(var(--background), 0.5);
    backdrop-filter: blur(10px);
    text-decoration: none;
    font-weight: 500;
    transition:
        color 0.3s ease,
        transform 0.3s ease,
        padding 0.3s ease;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
}

.navbar .links a:hover {
    color: var(--white);
    transform: scale(1.2);
}

.navbar .outlinks {
    display: flex;
    list-style: none;
    align-items: center;
    border: none;
    margin: 0px 0px;
    gap: 15px;
}

.navbar .outlinks a {
    background-color: rgba(var(--background), 0.5);
    backdrop-filter: blur(10px);
    text-decoration: none;
    font-weight: 500;
    transition:
        color 0.3s ease,
        transform 0.3s ease,
        padding 0.3s ease;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
}

.navbar .outlinks a:hover {
    color: var(--white);
    transform: scale(1.2);
}

.navbar .outlinks .github {
    margin-right: 4px;
}

.hero {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

.hero .big_logo {
    display: inline-flex;
    gap: 10%;
}

.hero .big_logo img {
    max-width: 500px;
    width: auto;
    transition: transform 0.3s ease;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -webkit-clip-path: polygon(
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%,
        0 25%
    );
}

.hero .big_logo img:hover {
    transform: scale(1.2);
}

.hero .big_logo .text {
    align-self: center;
    align-items: center;
}

.hero .big_logo .text .name {
    font-size: 8rem;
    margin: 0;
    color: var(--primary);
    display: flex;
    align-self: center;
    font-weight: bold;
}

.hero .big_logo .text .name .letter {
    transform-origin: bottom;
    margin: auto;
    margin-top: 0;
    transition: transform 0.1s ease;
    font-size: 8rem;
}

.hero .big_logo .text .name .letter:hover {
    transform: scale(1.5);
}

.hero .big_logo .text .quote {
    color: var(--secondary);
}

.hero .aboutme {
    display: flex;
    color: var(--text);
    flex-direction: column;
    text-align: left;
}

.hero .aboutme h1 {
    margin-bottom: 0;
    color: var(--secondary);
}

.footer {
    display: inline-flex;
    gap: auto;
    border-top: 1px dashed var(--primary);
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
}

.footer .footer-content {
    margin-left: 50px;
}

.footer .footer-controls {
    justify-self: end;
    align-items: center;
    margin-right: 40px;
}

.footer .footer-controls .themetoggle {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    background-color: var(--accent);
    color: var(--text-inverted);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}
